[Desktop Entry]
Type=Application
Name=银行双录控件
Name[zh_CN]=银行双录控件
Comment=Bank Counter Dual Recording Service
Exec=/opt/dualrecord/bin/DualRecordService
Icon=dualrecord
Terminal=false
Categories=Application;Utility;
StartupNotify=false
StartupWMClass=BankDualRecord
X-GNOME-Autostart-enabled=true
